<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="popup.css" />
    <script defer="defer" src="popup.js"></script>
    <title>Mellon</title>
  </head>
  <body>
    <div class="mellon-app">
      <div class="clone-main-parts clone-header">
        <img src="/logo.png" alt="logo" />
        <p>Relationship AI</p>
      </div>

      <!-- when not login -->
      <div class="user-login user-out">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          id="Blocked_Account_"
          data-name="Blocked Account "
          width="70"
          viewBox="0 0 29 28.998"
        >
          <path
            id="Path_19"
            data-name="Path 19"
            d="M114.5-179a7,7,0,0,0-7,7,7,7,0,0,0,7,7,7,7,0,0,0,7-7A7,7,0,0,0,114.5-179Zm0,2a5,5,0,0,1,5,5,5,5,0,0,1-5,5,5,5,0,0,1-5-5A5,5,0,0,1,114.5-177Z"
            transform="translate(-100.5 179)"
            fill-rule="evenodd"
          />
          <path
            id="Path_31"
            data-name="Path 31"
            d="M102.5-153H115a1,1,0,0,1,1,1,1,1,0,0,1-1,1H101.5a1,1,0,0,1-1-1v-2a9,9,0,0,1,9-9H115a1,1,0,0,1,1,1,1,1,0,0,1-1,1h-5.5a7,7,0,0,0-7,7Z"
            transform="translate(-100.5 179)"
            fill-rule="evenodd"
          />
          <path
            id="Path_42"
            data-name="Path 42"
            d="M123-163a6.5,6.5,0,0,0-6.5,6.5A6.5,6.5,0,0,0,123-150a6.5,6.5,0,0,0,6.5-6.5A6.5,6.5,0,0,0,123-163Zm0,2a4.5,4.5,0,0,1,4.5,4.5A4.5,4.5,0,0,1,123-152a4.5,4.5,0,0,1-4.5-4.5A4.5,4.5,0,0,1,123-161Z"
            transform="translate(-100.5 179)"
            fill-rule="evenodd"
          />
          <path
            id="Path_49"
            data-name="Path 49"
            d="M120.295-157.793l4,4a1,1,0,0,0,1.414,0,1,1,0,0,0,0-1.414l-4-4a1,1,0,0,0-1.414,0A1,1,0,0,0,120.295-157.793Z"
            transform="translate(-100.5 179)"
            fill-rule="evenodd"
          />
          <path
            id="Path_53"
            data-name="Path 53"
            d="M124.293-159.207l-4,4a1,1,0,0,0,0,1.414,1,1,0,0,0,1.414,0l4-4a1,1,0,0,0,0-1.414A1,1,0,0,0,124.293-159.207Z"
            transform="translate(-100.5 179)"
            fill-rule="evenodd"
          />
        </svg>

        <h1>Login to your account</h1>

        <form class="mellon-login-form" id="login">
          <p class="mellon-login-error"></p>
          <div class="mellon-form-group">
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="doe@gmail.com"
            />
          </div>
          <div class="mellon-form-group">
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="******"
            />
          </div>
          <button id="login-btn">Login</button>
        </form>
      </div>

      <!-- when login -->
      <div class="user-login user-in">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          id="Account_Approved"
          data-name="Account Approved"
          width="70"
          viewBox="0 0 29 28.998"
        >
          <path
            id="Path_15"
            data-name="Path 15"
            d="M165-179a7,7,0,0,0-7,7,7,7,0,0,0,7,7,7,7,0,0,0,7-7A7,7,0,0,0,165-179Zm0,2a5,5,0,0,1,5,5,5,5,0,0,1-5,5,5,5,0,0,1-5-5A5,5,0,0,1,165-177Z"
            transform="translate(-151 179)"
            fill-rule="evenodd"
          />
          <path
            id="Path_27"
            data-name="Path 27"
            d="M153-153h12a1,1,0,0,1,1,1,1,1,0,0,1-1,1H152a1,1,0,0,1-1-1v-2a9,9,0,0,1,9-9h5a1,1,0,0,1,1,1,1,1,0,0,1-1,1h-5a7,7,0,0,0-7,7Z"
            transform="translate(-151 179)"
            fill-rule="evenodd"
          />
          <path
            id="Path_39"
            data-name="Path 39"
            d="M173.5-163a6.5,6.5,0,0,0-6.5,6.5,6.5,6.5,0,0,0,6.5,6.5,6.5,6.5,0,0,0,6.5-6.5A6.5,6.5,0,0,0,173.5-163Zm0,2a4.5,4.5,0,0,1,4.5,4.5,4.5,4.5,0,0,1-4.5,4.5,4.5,4.5,0,0,1-4.5-4.5A4.5,4.5,0,0,1,173.5-161Z"
            transform="translate(-151 179)"
            fill-rule="evenodd"
          />
          <path
            id="Path_45"
            data-name="Path 45"
            d="M173.085-156.436l2.2-2.261a1,1,0,0,1,1.414-.02,1,1,0,0,1,.02,1.414l-2.916,3a1,1,0,0,1-.717.3,1,1,0,0,1-.717-.3l-2.084-2.143a1,1,0,0,1,.02-1.414,1,1,0,0,1,1.414.02Z"
            transform="translate(-151 179)"
            fill-rule="evenodd"
          />
        </svg>

        <h1>Welcome</h1>

        <p>You can start using the app</p>

        <button id="settings">Settings</button>
      </div>

      <div class="clone-main-parts clone-footer">
        <a>Visit web app</a>
      </div>
    </div>
  </body>
</html>
